//-----------------------
// Background sections ==================
.backgr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &::before {
    content:'';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("@img/background/LoopableNoise.gif");
    background-position: top;
    opacity: 0.08;
  }
  // .backgr_dark
  &_dark {
    background-color: $black-1A;
    &::before {
      background-size: rem(350);
      background-repeat: repeat;
    }
  }
  // .backgr_light
  &_light {
    background-color: $gray-D9;
  }
}


//=------------------------
// == BACKGRAUND TEXTS ==========================================================
.text-backgr {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  width: 100%;
  z-index: 0;
  @media (max-width:$mobileSmall){
     width: 120%; 
  }
  &_light {
    opacity: 0.2;
  }
  // .text-backgr__txt
  &__txt {
    font-weight: 800;
    @include adaptiveValue("font-size", 300, 84);
    line-height: calc(230/300);
    display: block;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #383838;
    -webkit-text-stroke-width: 2px; 
    @media (max-width:$mobile){
      -webkit-text-stroke-width: 1px
    }

    &:nth-child(1){
      text-align: right;
    }
    &:nth-child(2){
      text-align: left;
    }
    &:nth-child(3){
      text-align: right;
      padding-right: 10%;
    }
  }
}

//----------------------
// == TITLES ======================================================
.title-main {
  font-weight: 800;
  @include adaptiveValue("font-size", 62, 48, 0, 1920, 768);
  @include adaptiveValue("font-size", 48, 38, 3, 768, 414);
  @include adaptiveValue("font-size", 38, 32, 3, 414, 360);
  line-height: calc(66/62);
  color: $white-ff;
  text-transform: uppercase;
  span {
    font-style: italic;
    font-weight: 300;
    color: $white-EB;
  }
}
.title-first {
  font-weight: 800;
  @include adaptiveValue("font-size", 48, 28);
  line-height: calc(52/48);
  color: $black-00;
  text-transform: uppercase;
  span {
    font-style: italic;
    font-weight: 300;
  }
}
.title-second {
  font-weight: 800;
  @include adaptiveValue("font-size", 88, 52);
  line-height: 1;
  text-transform: uppercase;
  color: $black-00;
}

.subtitle {
  font-weight: 700;
  @include adaptiveValue("font-size", 24, 18);
  line-height: calc(28/24);
  color: $gray-B5;
  text-transform: uppercase;
  text-wrap: nowrap;
}


// === TEXTS =============================================
.text-main {
  font-weight: 400;
  font-size: rem(18);
  line-height: calc(22/18);
  // .text-main_dark
  &_dark {
    color: #999999;
    span {
      color: $white-ff;
      font-weight: 600;
    }
  }
  // .text-main_light
  &_light {
  }
}

// == VERTICAL-HORIZONTAL TEXT LABLE ========================
.label-txt {
  font-weight: 700;
  font-size: rem(10);
  line-height: 2;
  color: $black-00;
  text-transform: uppercase;
  // .label-txt_vertical
  &_vertical {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }
}


.card-products {
  @include adaptiveValue("width", 270, 253);
  @include adaptiveValue("height", 354, 332);
  padding: rem(24) rem(20) rem(18) rem(28);
  border: rem(2) solid transparent;

  transition: all 0.3s ease;
  &:hover {
    background-color: $white-ff !important;
    border: rem(2) solid $blue-1E-F6;
    .card-products__title {
      color: $blue-1E-F6 !important;
    }
    .card-products__img-ibg {
      img {
        transform: scale(1.05);
      }
    }
    .card-products__bottom {
      color: $blue-1E-F6 !important;
      img {
        filter: invert(49%) sepia(90%) saturate(2054%) hue-rotate(201deg) brightness(101%) contrast(101%);
      }
    }
  }
  @media (max-width:$mobileSmall){
    padding: rem(23) rem(19) rem(17) rem(26);
  }
	// .card-products__body
	&__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: rem(10);
	}
  // .card-products__title
  &__title {
    font-weight: 700;
    font-size: rem(16);
    line-height: calc(20/16);
    color: $black-00;
    text-transform: uppercase;
   
  }
  // .card-products__img-ibg
  &__img-ibg {
    display: flex;
    align-self: center;
    width: 80%;
    height: inherit;
    img {
      position: absolute !important;
      object-fit: contain;
      transition: all 1.5s linear;
    }
  }
  // .card-products__bottom
  &__bottom {
    display: flex;
    justify-content: space-between;
    span {
      font-size: rem(16);
      font-weight: 400;
      // text-transform: lowercase;
      text-align: right;
    }
    img {
      @media (max-width:$mobileSmall){
          width: rem(21);
          height: auto;
      }
    }
  }
  &.card-products_01,
  &.card-products_02,
  &.card-products_03 {
    .card-products__title {
      font-size: rem(24);
      line-height: calc(16/24);
    }
  }

  &.card-products_01 {
     background-color: #E1ECEF;
  }
  &.card-products_02 {
    background-color: #E6ECEF;
  }
  &.card-products_03 {
    background-color: #E8E9E8;
  }
  &.card-products_04 {
     background-color: #CCDDE5;
  }
  &.card-products_05 {
    background-color: #EDEAE8;
  }
  &.card-products_06 {
    background-color: #E3E9EC;
  }
  &.card-products_07 {
    background-color: #DCE2E5;
  }
  &.card-products_08 {
    background-color:  #E8E9E8;
  }
  &.card-products_09 {
    background-color: #E1ECEF;
  }
  &.card-products_10 {
    background-color:  #EBF4F8;
  }
}


.spollers {
	&.spollers_dark {
    
  }
	&.spollers_light {

  }
  // .spollers__item
  &__item {
    position: relative;
    @media (max-width:$mobileSmall){
      &::before {
        content:'';
        position: absolute;
        bottom: -1%;
        left: -10%;
        z-index: 1;
        width: 150%;
        height: rem(25);
        background-color: #161616;
        filter: blur(27px);
      }
    }
  }
  // .spollers__summary
  &__summary {
    list-style: none;
    position: relative;
    border-top: rem(2) solid white;
    border-radius: rem(10) rem(10) 0 0;
    height: rem(92);
    color: $white-ff;
    cursor: pointer;

    display: flex;
    @media (max-width: em(1200)){
        margin: 0 rem(-16);
    }

  }
	// .spollers__num
	&__num {
    font-size: 18px;
    line-height: calc(24/18);
    color: $gray-80;
    margin-left: rem(27);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width:$mobileSmall){
       display: none; 
    }
	}
	// .spollers__title
	&__title {
    font-weight: 800;
    @include adaptiveValue("font-size", 62, 38);
    line-height: 0.7;
    align-self: flex-end;
    // margin-left: rem(100);
    @include adaptiveValue("margin-left", 100, 70, 0, 1920, 481);
    @include adaptiveValue("margin-left", 17, 16, 3, 481, 480);
    @media (max-width:em(900)){
       align-self: flex-start; 
       margin-top: rem(24);
    }
	}
	// .spollers__close
	&__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(22);
    display: block;
    width: rem(19);
    height: rem(19);
    cursor: pointer;
    pointer-events: none;
    transition: transform 0.5s ease;
    &::before,
    &::after {
      content:'';
      transition: transform 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: rem(2);
      background-color: $white-ff;
      ._spoller-active & {
        transform: rotate(-45deg);
      }
    }
    &::after {
      transform: rotate(-90deg);
      ._spoller-active & {
        transform: rotate(-135deg);
      }
    }
	}
  // .spollers__body
  &__body {
   
  }
}

.spollers-project {
	// .spollers-project__wrapper
	&__wrapper {
    color: white;
    display: grid;
    grid-template-columns: 53% 47%;
    padding-top: rem(28);
    padding-bottom: rem(45);
    position: relative;
    @media (max-width: em(900)){
        grid-template-columns: 100%;
        padding-top: 0;
    }
    @media (max-width:$mobileSmall){
      overflow-y: auto; 
      height: rem(490);
    }
	}
  // .spollers-project__img-ibg
  &__img-ibg {
    height: 100%;
    max-height: rem(420);
    @media (max-width: em(550)){
        max-height: rem(260);
        overflow: hidden;
    }
  }
  // .spollers-project__info
  &__info {
    margin: 0 rem(50) 0 rem(67);
    @media (max-width: em(1100)){
        margin: 0 rem(30);
    }
    @media (max-width: em(900)){
        margin: 0;
    }

  }
  // .spollers-project__title
  &__title {
    font-style: italic;
    font-weight: 300;
    @include adaptiveValue("font-size", 30, 22);
    line-height: calc(34/30);
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 21, 28);
    @media (max-width: em(900)){
        text-align: left;
        margin-left: rem(65);
    }
    @media (max-width:$mobileSmall){
       margin-left: rem(40); 
    }
  }
  // .spollers-project__txt
  &__txt {
    font-weight: 400;
    @include adaptiveValue("font-size", 18, 20);
    line-height: calc(22/18);
    color: $gray-99;
    span {
      text-decoration: rem(5) underline;
      text-decoration-color: rgba(30, 100, 246, 0.5);
      text-underline-offset: 3px;
      color: $white-ff;
    }
    
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
    @media (max-width: em(900)){
      margin-top: rem(24);
    }
    @media (max-width:$mobileSmall){
      margin-left: rem(40); 
   }
  }
}
